Lessson13/DZMyDiskInfoClientMEX/Service References/DiskInfoNS/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FreeSpace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="disk" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FreeSpaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FreeSpaceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalSpace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="disk" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalSpaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TotalSpaceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>