Lesson14/WCFDataContractClient/Service References/ServiceNS/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MyDiskInfo/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDataContractService" />
  <xs:element name="DiskTotal1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="disk" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiskTotal1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFDataContractService" minOccurs="0" name="DiskTotal1Result" nillable="true" type="q1:DiskInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiskTotal2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="disk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="disk1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiskTotal2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFDataContractService" minOccurs="0" name="DiskTotal2Result" nillable="true" type="q2:DiskInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>